body{
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.main{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.logo{
    position: absolute; 
    top: -160px; 
    z-index: 10; 
}

.login{
    width: 680px;
    height: 587px;
    background-color: var(--white-color);
    border-radius: 15px;
    position: relative; 
    z-index: 1;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

hr{
    width: 165px;
    border: none; 
    height: 1px; 
    background-color: var(--font-color); 
}

h1{
    padding-top: 100px;
    color: var(--font-color);
    font-size: 32px;
    font-family: Montserrat;
    font-weight: 500; 
    align-items: center;
    justify-content: center;
    display: flex;
}

.login-form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px;
    gap: 30px;
}

input{
    width: 550px;
    height: 60px;
    border: 2px solid var(--font-color);
    border-radius: 15px;
    font-size: 24px; /* Увеличиваем размер шрифта */
    color: var(--btn-color); /* Цвет текста */
}

.input-field input::placeholder {
    color: var(--btn-color); /* Цвет подсказки */
    text-align: center; /* Центрирование текста подсказки */
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 400;
}

.login-button{
    width: 550px;
    height: 60px;
    margin-top: 53px;
    border: none;
    border-radius: 15px;
    background-color: var(--btn-color);
    color: var(--white-color);
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 500;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.login-button:hover {
    background-color: var(--pink-color); 
    box-shadow: 0 0 10px var(--pink-color), 0 0 20px var(--pink-color); 
}
